body {
  margin: 0;
  padding: 0
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background: aliceblue;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 500px;
  border: 1px solid black;
  margin-top: 10px;
  color: white;
}

.orange {
  background: orange;
}
.green {
  background: green;
}
.pink {
  background: pink;
}
.teal {
  background: teal;
}
.purple {
  background: purple;
}